#textdomain wesnoth-rfdv

[scenario]
    id=rfdv_2
    name= _ "Searching for a Cave"
    map_data="{~add-ons/Retribution_for_Darken_Volk/maps/2setup2.map}"
    turns=24
    next_scenario=rfdv_3
    victory_when_enemies_defeated=no
    carryover_percentage=40
    carryover_add=yes
    bonus=yes

    {DEFAULT_SCHEDULE}
    [time_area]
        id=chu
        {UNDERGROUND}
        x="26,27,28,29,29,30,30,31,32,33,34,35,36"
        y="16-20,16-22,15-22,15-17,19-22,14-16,18-22,15-22,14-22,15-22,14-22,15-22,15-22"
    [/time_area]
    [time_area]
                id=saurs
            {UNDERGROUND}
            x="0,1,2,3,4,5,5,6,7,8"
            y="13-22,13-22,12-21,13-21,13-20,13,15-20,13-19,14-18,14"
    [/time_area]
    [time_area]
                id=bats
            {UNDERGROUND}
            x="7,8,9,10,11,12,13"
            y="2-4,1-4,2-5,1-4,1-4,1-3,2-4"
    [/time_area]

    {SCENARIO_MUSIC       revelation.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    {EXTRA_SCENARIO_MUSIC sad.ogg}

    [side]
        {RFDV_SIDE_1}
        gold=100
        shroud=yes
    [/side]
    [side]
        {RFDV_SIDE_2}
        gold=100
        shroud=yes
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        hidden=yes
        team_name=bad
        type=Blood Bat
        recruit=Vampire Bat
        [ai]
            passive_leader=yes
            [avoid] #so they don't go to steal villages of the saurians and others and remains around their nest
            #maybe better make them focus players instead, this way players can just bypass them, although they would take players' villages
                y=10-22
            [/avoid]
        [/ai]
        {GOLD 13 26 39}
    [/side]
    
    [side]
        side=4
        {UNPLAYABLE_SIDE}
        hidden=yes
        team_name=bad
        type=Saurian Ambusher
        {GOLD 13 26 39}
    [/side]
    
    [side]
        side=5
        {UNPLAYABLE_SIDE}
        hidden=yes
        team_name=bad
        type=Fire Ant Queen
        {GOLD 13 26 39}
    [/side]

    [event]
        name=prestart

        #Auto placement of players keep 

        [store_unit]
            [filter]
                side=1,2 
                canrecruit=yes 
            [/filter]
            variable=leaders 
            kill=no 
        [/store_unit]

        [foreach]
            array=leaders 
            index_var=i 

            [do]
                [terrain] 
                    [filter_adjacent_location]
                        x,y=$this_item.x,$this_item.y 
                    [/filter_adjacent_location]
                    terrain=Cer 
                [/terrain]
            [/do]
        [/foreach]

        [foreach]
            array=leaders 
            index_var=i 

            [do]
                [terrain] 
                    x,y=$this_item.x,$this_item.y
                    terrain=Ker 
                [/terrain]
            [/do]
        [/foreach]
        [redraw][/redraw]

        [objectives]
            side=1,2
            [objective]
                condition=win
                description= _ "Find a cave worthy to bear the remains"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of any of your leader"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    
    [event]
        name=die
        [filter]
            side=3
            canrecruit=yes
        [/filter]
        [allow_recruit]
            type=Vampire Bat
            side=1,2
        [/allow_recruit]
        [message]
            speaker=narrator
            message=_ "You can recruit Vampire Bats now!"
        [/message]
        #TODO: kill remaining side 3 bats?
    [/event]
    
    [event]
        name=moveto
        [filter]
            side=1,2
        [/filter]
        [filter_condition]
            [have_location]
                area=bats
                [not]
                    terrain=Xu
                [/not]
                [filter_vision]
                    side=1,2
                [/filter_vision]
            [/have_location]
        [/filter_condition]
        
        [message]
            side=$unit.side
            canrecruit=yes
            message=_ "I think I see a cave ahead of us!"
        [/message]
        
        [message]
            side=1,2
            [not]
                side=$unit.side
            [/not]
            canrecruit=yes
            message=_ "Let's examine it."
        [/message]
    [/event]
    
    [event]
        name=moveto
        [filter]
            side=1,2
        [/filter]
        [filter_condition]
            [have_location]
                area=bats
                terrain=Qxu
                [filter_vision]
                    side=1,2
                [/filter_vision]
            [/have_location]
        [/filter_condition]
        
        [message]
            side=$unit.side
            canrecruit=yes
            message=_ "A big chasm prevents from going into the deep. But ghosts won't be able to carry the remains, and the accessible part of the cave is too small to be a worthy tomb."
        [/message]
        
        [message]
            side=1,2
            [not]
                side=$unit.side
            [/not]
            canrecruit=yes
            message=_ "Then move on, we'll find another one."
        [/message]
    [/event]
    
    [event]
        name=sighted
        [filter]
            side=3
            canrecruit=yes
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]
        [message]
            side=$second_unit.side
            canrecruit=yes
            message=_ "It's a bat colony! I think I see a big bat in the deep."
        [/message]
        [message]
            side=1,2
            [not]
                side=$second_unit.side
            [/not]
            canrecruit=yes
            message=_ "Our ghosts can fly over the chasm. Maybe if we defeat the chief bat, the others will follow us. They will be good scouts."
        [/message]
   [/event]
[/scenario]
